.menucontainer {
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 30;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: right;
    flex-direction: row;
}

.bg-white {
    background-color: white;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    position: fixed; /* Fixed positioning to cover the whole screen */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column; /* Organizes children in a column */
    justify-content: center; /* Centers children vertically */
    align-items: center; /* Centers children horizontally */
    z-index: 50; /* Higher z-index to be on top */
}

.logoimg {
    height: 100%;
    width: auto;
}

.itemcontainer {
    width: 120px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    color: grey;
}